<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer" class="footer">
    <div class="footer-inner">
        <div>
            <h4><span style="color:#ff9f1c;">&#9679;</span> DriveEasy Rentals</h4>
            <p>A modern vehicle rental platform built for SE2030 Software
               Engineering - Group 2026-Y2-S1-MLB-B3G1-10, SLIIT.</p>
        </div>
        <div>
            <h4>Explore</h4>
            <ul>
                <li><a th:href="@{/catalog}">Browse Vehicles</a></li>
                <li><a th:href="@{/register}">Create Account</a></li>
                <li><a th:href="@{/login}">Login</a></li>
            </ul>
        </div>
        <div>
            <h4>Support</h4>
            <ul>
                <li><a th:href="@{/emergencies}">Roadside Assistance</a></li>
                <li><a th:href="@{/my-bookings}">My Bookings</a></li>
                <li><a href="mailto:support@driveeasy.lk">support@driveeasy.lk</a></li>
            </ul>
        </div>
        <div>
            <h4>Contact</h4>
            <p>No. 12, Malabe Road,<br>Colombo, Sri Lanka</p>
            <p>+94 11 234 5678</p>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2026 DriveEasy Rentals &mdash; SE2030 Group Project. All rights reserved.
    </div>
</footer>
</body>
</html>
