<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Fuel Price Form - VRS</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div th:replace="~{common/navbar :: navbar}"></div>

<div class="container">

    <div class="card">

        <h1 th:text="${fuelPrice.fuelPriceId == null} ? 'Add Fuel Price' : 'Edit Fuel Price'">
            Fuel Price
        </h1>

        <form th:action="${fuelPrice.fuelPriceId == null} ? @{/fuel/save} : @{/fuel/update/{id}(id=${fuelPrice.fuelPriceId})}"
              th:object="${fuelPrice}"
              method="post">

            <label>Fuel Type</label>

            <select th:field="*{fuelType}">
                <option value="PETROL">Petrol</option>
                <option value="DIESEL">Diesel</option>
                <option value="ELECTRIC">Electric</option>
            </select>

            <label>Fuel Price</label>

            <input type="number"
                   step="0.01"
                   th:field="*{price}"
                   required>

            <button type="submit" class="btn">
                Save Fuel Price
            </button>

        </form>

        <br>

        <a th:href="@{/fuel}" class="btn">
            Back to Fuel Prices
        </a>

    </div>

</div>

</body>
</html>
